<% provide :title, t("static_pages.index.home") %>

<section id="page-head" class="page-head-section">
  <div class="page-head-overlay">
    <div class="container">
      <div class="row">
        <div class="page-head-content">
          <div class="page-head-style">
            <%= image_tag src="page-head-style.png" %>
          </div>
          <div class="page-head-title text-uppercase">
            <h2><%= t "static_pages.index.home" %></h2>
          </div>
          <div class="page-breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><%= link_to "", root_path %><span class="mr5 ti-home"></span><%= t "event.view.home" %></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<h2><%= t "static_pages.index.recent" %> </h2>
<section id="event" class="event-list">
  <div class="container">
    <div class="row section-content">
      <div class="event-list-content">
        <div class="row">
         <%= render partial: "blogs/blog", collection: @blogs, as: "blog" %>
         <%= render partial: "events/event", collection: @events, as: "event" %>
         <%= render partial: "causes/cause", collection: @causes, as: "cause" %>
        </div>
      </div>
    </div>
  </div>
</section>

