<%= form_for blog, url: cause_blogs_path(@cause) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 form-group">
      <%= f.label t("blog.view.title") %><br>
      <%= f.text_field :title, class: "form-control" %><br>
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :name , options = {},html_options = {class: "form-control"} %><br>
    </div>
  </div>
  <div class="row">
    <%= f.label t("blog.view.content") %><br>
    <%= f.cktext_area :content, class: "form-control", ckeditor: {toolbar: 'Full'}%><br>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %><br>
  </div>
<% end %>


