<% provide :title, @blog.title %>
<section id="blog-details" class="blog-details-section pt60  pb80">
  <div class="container">
    <div class="row">
      <div class="blog-details-section-content">
        <div class="row">
          <div class="col-sm-8">
            <div class="blog-details-section-left-side  pb80">
              <div class="blog-details-main-pic">
                <%= image_tag src="cause-1.jpg" %>
              </div>
              <div class="blog-single-text  pb50">
                <div class="blog-head-title pt15 pb20">
                  <h2 class="black"><%= @blog.title %></h2>
                </div>
                <div class="blog-recent-post-meta">
                  <ul class="meta-list pb20 mb20">
                    <li><span class = "mr5 ti-pencil"></span><%= link_to @blog.cause.user.name, @blog.cause.user, class: "black" %></li>
                    <li><span class="mr5 ti-timer"></span> <span class = "black"> <%= (@blog.created_at).strftime("%D") %></span></li>
                    <li><span class="mr5 ti-comment-alt"></span><%= @blog.comments.count %></li>
                    <% if user_signed_in? %>
                    <% if current_user == @blog.cause.user %>
                    <li><span class="mr5 ti-trash"></span>
                      <%= link_to t("blog.view.delete"), @blog, method: :delete, data: { confirm: t("blog.view.sure") } %></li>
                      <% end %>
                      <% end %>
                    </ul>
                  </div>
                  <div class="blog-details-text">
                    <p> <%= @blog.content.html_safe %></p>
                  </div>
                  <div class= "section-title">
                  <div class="section-title-text ">
                    <p><%= t "blog.view.tag" %>  <%= render_blog_with_hashtag @blog.hash_tag %></p>
                  </div>
                </div>
                </div>
              </div>
              <div class="footer-social pull-right mt10">
                <div class="social">
                  <ul class="social-list">
                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                    <li><a href="#"><span class="ti-twitter"></span></a></li>
                    <li><a href="#"><span class="ti-google"></span></a></li>
                    <li><a href="#"><span class="ti-instagram"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="side-bar-content ml15">
                <div class="event-single-time-location clearfix mt25 pt40">
                  <%= render partial: "causes/cause_event", locals: { cause: @blog.cause } %>
                </div>
                <div class="category mb40">
                  <div class="side-bar-title mb40">
                    <h2 class="widgettitle"><%= t("blog.view.categories") %></h2>
                  </div>
                  <div class="category-item">
                    <ul class="category-item-list">
                      <%= render partial: "categories/category", collection: @categories, as: "category" %>
                    </ul>
                  </div>
                </div>
                <div class="instagram-pic">
                  <div class="side-bar-title mb40">
                    <h2 class="widgettitle"><%= t("blog.view.insta") %></h2>
                  </div>
                  <div class="instagram-pic-list">
                    <ul class="footer-gallery text-center">
                      <li><%= image_tag src="g-1.png" %></li>
                      <li><%= image_tag src="g-2.png" %></li>
                      <li><%= image_tag src="g-3.png" %></li>
                      <li><%= image_tag src="g-4.png" %></li>
                      <li><%= image_tag src="g-5.png" %></li>
                      <li><%= image_tag src="g-6.png" %></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div>
  <div class="reply-comment mb50">
    <div class="side-bar-title mb40">
      <h2><%= t "comment.view.com" %>[<span id="count-comment"> <%= @blog.comments.count %></span>]</h2>
    </div>
    <div id="div-create">
      <% if @blog.comments.any? %>
      <div id="div-destroy">
        <%= render @comments %>
      </div>
      <% end %>
    </div>

    <div id="paginate">
      <% if @blog.comments.any? %>
      <div id="paginate1">
        <%= will_paginate @comments, remote: true %>
      </div>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
  <div id="ajax-form-create">
    <%= render "comments/comment_form" %>
  </div>
  <% end %>
</div>
