<div class="client-name-reply pb70">
  <div class="reply-pic pull-left mr25">
    <%= image_tag src="g-1.png" %>
  </div>
  <div class="name-reply-text">
    <div class="name-reply pb20">
      <span class="client-name"><a href="#"><%= comment.user.name %></a></span>
      <span class="designation">
        <%= t "comment.view.posted" %> <%= time_ago_in_words comment.created_at %> <%= t "comment.view.ago" %>
      </span>
      <div class="comment-icon pull-right">
        <% if user_signed_in? %>
        <% if current_user == comment.user %>
        <li><span class="mr5 ti-trash"></span>
          <%= link_to t("comment.view.delete"), comment, method: :delete, data: { confirm: t("comment.view.sure") }, remote: true %></li>
          <% end %>
           <span id ="reply-comments" class= "ti-comments" ></span>
          <% end %>
        </div>
      </div>
      <div class="reply-text">
        <p><%= comment.content %></p>
        <div id="rreply-comments">
          <%= render "comments/reply_comment_form", comment: comment %>
        </div>
      </div>
      <div>
        <%= render comment.replies if comment.replies.any? %>
      </div>
    </div>

  </div>
