<% provide :title, @user.name %>
<section id="page-head" class="page-head-section">
  <div class="page-head-overlay">
    <div class="container">
      <div class="row">
        <div class="page-head-content">
          <div class="page-head-style">
            <%= image_tag src="page-head-style.png" %>
          </div>
          <div class="page-head-title text-uppercase">
            <h2><%= t "user.view.profile" %></h2>
          </div>
          <div class="page-breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><span class="mr5 ti-home"></span><%= link_to t("user.view.home"), root_path %></li>
              <li class="breadcrumb-item active">
                <%= t "user.view.user" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="way-help" class="way-help-section">
    <div class="container">
      <div class="row section-content">
        <div class="section-title text-center">
          <div class="section-title-text text-uppercase">
            <h2><%= @user.name %></h2>
          </div>
          <div class="section-title-text text-uppercase">
            <p><%= @user.email %></p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <% if user_signed_in? %>
      <% if current_user == @user %>
      <button class="btn btn-danger"><%= link_to t("user.view.createCause"), new_cause_path %></button>
      <% end %>
      <% end %>
    </div>

    <div>
      <% if @user.blogs.any? %>
      <h3><%= t "user.view.blogs" %> (<%= @user.blogs.count %>)</h3><br>
      <ol>
        <%= render @blogs %>
      </ol>
      <div class="pagination">
        <%= will_paginate @blogs %>
      </div>
      <% end %>
    </div>
    <div>
      <% if @user.events.any? %>
      <h3><%= t "user.view.events" %> (<%= @user.events.count %>)</h3><br>
      <ol>
        <%= render @events %>
      </ol>
      <div class="pagination">
        <%= will_paginate @events %>
      </div>
      <% end %>
    </div>
    <div>
      <% if @user.causes.any? %>
      <h3><%= t "user.view.causes" %> (<%= @user.causes.count %>)</h3><br>
      <ol>
        <%= render @causes %>
      </ol>
      <div class="pagination">
        <%= will_paginate @causes %>
      </div>
      <% end %>
    </div>
  </section>
