<%= form_for @cause do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 form-group">
      <%= f.label t("event.view.title") %><br>
      <%= f.text_field :title, class: "form-control" %><br>
      <%= f.label t("event.view.category") %>
      <%= f.collection_select :category_id, Category.all, :id, :name, options = {}, html_options = {class: "form-control"} %>
      <br>
      <%= f.label t("event.view.end_time") %><br>
      <%= f.date_field :end_time, class: "form-control" %><br>
      <%= f.label :goal_money %><br>
      <%= f.text_field :goal_money, class: "form-control", placeholder: t("cause.view.mon") %><br>
    </div>
  </div>
  <div class="row">
    <%= f.label :detail %><br>
    <%= f.cktext_area :detail, ckeditor: {toolbar: 'Full'} %><br>
    <%= f.submit t("event.view.post"), class: "btn btn-primary" %><br>
  </div>
<% end %>
