<% provide :title, t("event.view.allevents") %>

<section id="page-head" class="page-head-section">
  <div class="page-head-overlay">
    <div class="container">
      <div class="row">
        <div class="page-head-content">
          <div class="page-head-style">
            <%= image_tag src="page-head-style.png" %>
          </div>
          <div class="page-head-title text-uppercase">
            <h2><%= t "event.view.ourEvents" %></h2>
          </div>
          <div class="page-breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="home-1.html"><span class="mr5 ti-home"></span><%= t "event.view.home" %></a></li>
              <li class="breadcrumb-item active"><%= t "event.view.event" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="event" class="event-list">
  <div class="container">
    <div class="row section-content">
      <div class="event-list-content">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <%= render @events %>
            </div>
            <div class="row">
              <%= will_paginate @events %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="side-bar-content ml15">
              <div class="side-bar-search mb40">
                <% if @search %>
                  <%= search_form_for @search do |f| %>
                    <%= f.search_field :title_or_content_cont, html_options = {placeholder: t("cause.view.search")} %>
                    <%= f.submit html_options = {class: "sb-search-submit"} %>
                    <span class="sb-icon-search"><i class="ti-search"></i></span>
                  <% end %>
                <% end %>
              </div>
              <div class="category mb40">
                <div class="side-bar-title mb40">
                  <h2 class="widgettitle"><%= t "cause.view.categories" %></h2>
                </div>
                <div class="category-item">
                  <ul class="category-item-list">
                    <%= render partial: "categories/category", collection: @categories, as: "category" %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

