<header>
  <div class="header-top-bg">
    <div class="container">
      <div class="row">
        <div class="header-top">
          <div class="head-top-info pull-left">
            <ul class="top-info">
              <li><%= image_tag src = "call.png" %><%= t "application.header.phone" %></li>
              <li><%= image_tag src = "inbox.png" %><%= t "application.header.email" %></li>
            </ul>
          </div>
          <!-- /head-top-info -->
          <div class="header-social pull-right">
            <div class="social">
              <ul class="social-list">
                <li><a href="#"><span class="ti-facebook"></span></a></li>
                <li><a href="#"><span class="ti-twitter"></span></a></li>
                <li><a href="#"><span class="ti-google"></span></a></li>
                <li><a href="#"><span class="ti-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <!-- /header-social -->
        </div><!-- /header-top -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div>
  <div class="menu-bar">
    <div class="container">
      <div class="row">
        <nav class="navbar header">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand"><%= image_tag src = "logo.png", class: "fundus-logo" %></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1  header__menu">
            <ul class="nav navbar-nav">
              <li><%= link_to t("application.header.home"), root_path %></li>
              <li><%= link_to t("application.header.cause"), causes_path %>
              </li>
              <li><%= link_to t("application.header.event"), events_path %>
              </li>
              <li><%= link_to t("application.header.blog"), blogs_path %>
              </li>
              <li><%= link_to t("application.header.contact"), contact_path %></li>
              <li><%= link_to t("application.header.about"), about_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to current_user.name, user_path(current_user) %>
                  <ul class="menu-dropdown">
                    <li><%= link_to t("application.header.change_pw"), edit_user_registration_path %></li>
                    <li><%= link_to t("application.header.sign_out"), destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to t("application.header.sign_in"), new_user_session_path %></li>
                <li><%= link_to t("application.header.sign_in_FB"), sign_in_with_FB_path %></li>
              <% end %>
              <li>
                <%= form_with url: search_path, local: true, method: :get, html: {class: "navbar-form navbar-left"} do |f| %>
                  <div class="form-group">
                    <%= f.text_field :q, placeholder: t("static_pages.search.search"), data: {behavior: "autocomplete"} %>
                  </div>
                  <label for="frmsearch" class="btn-submit"><i class="ti-search"></i></label>
                  <%= f.submit t("static_pages.search.search"), html_options = {class: "sb-search-submit", id: "frmsearch"} %>
                <% end %>
              </li>
            </ul>
            <%= render partial: "shared/notifications", locals: { notifications: get_notifications, activities: get_actions } if user_signed_in? %>
          </div>
        </nav>
        <div class="wrap">
          <!--MENU-->
          <div id="main-menu">
            <div class="menu-btn">
              <div class="menu-btn-line menu-btn-line-1"></div>
              <div class="menu-btn-line menu-btn-line-2"></div>
              <div class="menu-btn-line menu-btn-line-3"></div>
            </div>
            <div class="moduletable_menu">
              <ul class="nav menu">
                <li><%= link_to t("application.header.home"), root_path %></li>
                <li><%= link_to t("application.header.cause"), causes_path %>
                </li>
                <li><%= link_to t("application.header.event"), events_path %>
                </li>
                <li><%= link_to t("application.header.blog"), blogs_path %>
                </li>
                <li><%= link_to t("application.header.contact"), contact_path %></li>
                <li><%= link_to t("application.header.about"), about_path %></li>
                <% if user_signed_in? %>
                  <li><%= link_to current_user.name, "#" %>
                    <ul class="menu-dropdown">
                      <li><%= link_to t("application.header.change_pw"), edit_user_registration_path %></li>
                      <li><%= link_to t("application.header.sign_out"), destroy_user_session_path, method: :delete %></li>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to t("application.header.sign_in"), new_user_session_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- END menu -->
      </div><!--/wrap  -->
    </div><!--/row  -->
  </div><!--/container  -->
</header>
<!-- End of Header -->
